# bash-wizardry Configuration
# Rename this file to config.env to take effect.

# Enable or disable specific modules
# Set to "true" to enable, "false" to disable.
BW_ENABLE_GIT=true
BW_ENABLE_NODE=true
BW_ENABLE_DOCKER=true
BW_ENABLE_RAILS=true
BW_ENABLE_DJANGO=true
BW_ENABLE_RUBY=true
